- if @import.successful?
  %p Import successful
  %p Gross Revenue #{@import.gross_revenue}

  = link_to 'Import another file', imports_path
- else
  %p Import failed

  = link_to 'Try importing a different file', imports_path
